body {
    background-image: url('Photos/vector-polygon-orange-teal-bg.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}